<div class="mt-2 mb-2"></div>

<div class="card">
    <div class="card-body">
      <div class="row">
        <label>{{taskItem.task_name}}</label>
        <br>
        <label>Assigned To: Team #{{taskItem.team_id}}</label>
        <br>
        <label>Priority Level: {{taskItem.priority}}</label>

        <label>Status:</label>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary active">To Do</button>
            <button type="button" class="btn btn-secondary">In Progress</button>
            <button type="button" class="btn btn-secondary">Done</button>
        </div>

        <label>Description:</label>

        <div>
          {{taskItem.desc}}
        </div>

        <div>
          <!-- TO DO: to put link in url -->
          <a routerLink="/edit-task/{{taskItem.id}}" class="btn btn-secondary w-100">Edit</a>
          <!-- <button class="btn btn-secondary" (click)="handleEdit(taskItem.task_name)">EDIT</button>
          <button class="btn btn-danger" (click)="handleDelete(taskItem.task_name)">DELETE</button> -->
        </div>
      </div>
    </div>
  </div>
